@import "./variables.scss";

body {
  font-family: $primary-font;
  color: $primary-text-color;
}

/*scroll*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.paper-texture {
  position: relative;
}

.paper-texture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/background.jpeg");
  background-size: 30%;
  height: 100%;
  opacity: 0.2;
  width: 100%;
}

.big-title {
  // font-size: $big-title-font;
}

.mini-title {
  font-size: 1.3rem;
}

.bold {
  font-weight: bold;
}

.title-case{
  text-transform: capitalize;
}

.title-description {
  font-size: 2rem;
  font-weight: 300;
}

.image-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.title {
  font-size: $title-font;
  font-weight: bold;
  color: $primary-text-color;
}

.title.sticky-top {
  background: white;
  z-index: 1000;
  padding: 10px 5vw;
}

.uppercase {
  text-transform: uppercase;
}

.wrapper {
  padding: $wrapper-padding;
  box-sizing: border-box;
}

.primary-text {
  color: $primary-color;
}

.image-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.btn {
  border: none;
  padding: 10px 25px;
  background: rgba(0, 0, 0, 0.12);
  font-size: 1.1rem;
  font-family: $primary-font;
  border-radius: $button-radius;
  box-shadow: $button-shadow;
}

.btn.primary {
  background: $primary-color;
  color: $light-color;
}
.btn.dark{
  background:rgba(0,0,0,0.8);
  color:white;
}

.input-area {
  border: 1px solid white;
  background: white;
  border-radius: 5px;
  padding: 15px 20px;
}

.input-area input:focus {
  outline: none;
}

.input-area input {
  font-size: 1rem;
  border: none;
  background: none;
}

.bg-accent {
  background: $accent-color;
}

.d-animate-none {
  display: none;
}

.d-animate-none.slideUp {
  display: flex;
  animation: slideUp 0.3s;
}

section.register {
  height: 100vh;
  box-sizing: border-box;
  .image-area,
  .text-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .image-area {
    img {
      width: 90%;
      height: 80%;
      object-fit: cover;
      object-position: center;
      border-radius: 15px;
    }
  }
}

.input-box {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  &.icon-input {
    border: 1px solid rgba(0, 0, 0, 0.22);
    padding: 10px 15px;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    label{
      text-transform: capitalize;
      width:100px;
    }
    input {
      border: none;
    }
  }
  label {
    font-weight: bold;
  }
  input {
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.22);
    width: 35vw;
  }
}

.logo,.user{
  font-weight: bold;
  font-size:1.3rem;
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
  &:hover .user-drop-down{
    display: block;
  }
  .user-drop-down{
    display: none;
    position: absolute;
    top:100%;
    background:white;
    padding:10px;
    right:0;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
  }
}

.gn-modal{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  .modal-background{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    background:rgba(0,0,0,0.6);

  }
  .modal-card{
    position: relative;
    background:white;
    z-index: 1;
    border-radius: 5px;
    padding:10px;
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
